.piano-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    background: #222;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

/* Białe klawisze */
.white-keys {
    display: flex;
    position: relative;
}

.white-key {
    width: 50px;
    height: 180px;
    background: white;
    border: 2px solid black;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.white-key .key-label {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

/* Czarny klawisz */
.black-key {
    width: 30px;
    height: 120px;
    background: black;
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.black-key .key-label {
    bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

/* Pozycjonowanie czarnych klawiszy */
.black-key:nth-child(2) { left: 35px; }
.black-key:nth-child(4) { left: 85px; }
.black-key:nth-child(7) { left: 185px; }
.black-key:nth-child(9) { left: 235px; }
.black-key:nth-child(11) { left: 285px; }

/* Stylizacja aktywowanych klawiszy */
.white-key.pressed {
    background: #ddd;
}

.black-key.pressed {
    background: #555;
}

.key-label-single{
    height:12px;
    font-size:8px;
}

.key-label-single.kbd{
    height:18px;
    font-size:12px;
    font-weight: 700;
}
.eq-container {
    margin-top: 10px;
    text-align: center;
}

.eq-grid {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    height: 150px;
}

.eq-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
}

.eq-slider {
    transform: rotate(-90deg);
    width: 120px;
    margin: 10px 0;
}

.eq-value {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.info-icon {
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

